<form action="/songs" method="post">
  <div>
    Title: <input type="text" name="title" placeholder="ex: Fly Me To the Moon">
  </div>

  <div>
    Artist: <input type="text" name="artist" placeholder="ex: Frank Sinatra">
  </div>

  <div>
    Length in Seconds: <input type="text" name="seconds" placeholder="ex: 134">
  </div>

  <div>
    Lyrics: 
  </div>
  <textarea name="lyrics">
  </textarea> 

  <input type="submit" value="Add a Song">
</form>